.container {
  display: flex;
  align-items: center;
}

.messageBlock {
  background-color: #ffaaaa99;
  padding: 10px;
  width: 50%;
  margin: 10px 20px;
  border-radius: 20px;
  border-bottom-left-radius: 0px;
  border-top-right-radius: 40px;
  border: 4px solid #dd8888;
}

.messageBlock-header {
  font-size: 14px;
  border-bottom: 1px solid #dd8888;
  margin: 10px 0px;
}

.messageBlock-main {
  font-size: 20px;
}

.messageBlock-replies {
  margin: 10px 20px;
  border-top: 1px solid #dd8888;
  border-left: 1px solid #dd8888;
  padding: 0 15px;
  display: flex;
  flex-direction: column;
}

.reply {
  margin-top: 15px;
}
