.message-input {
  border: 2px solid #999;
  margin: auto;
  padding: 50px 20px;
  width: 100%;
  background-color: #dd888822;
}

.message-input-text {
  width: 60%;
  height: 60px;
}

.message-input-button {
  width: 30%;
  margin-left: 20px;
  height: 60px;
  border: 2px solid #999;
  background-color: #efefef;
  cursor: pointer;
}

.message-input-button:hover {
  background-color: #ffaaaa99;
  border: 2px solid #dd8888;
  color: white;
}
