.reply-input {
  margin: auto;
  width: 100%;
  padding-left: 20px;
}

.reply-input-text {
  width: 30%;
  height: 20px;
}

.reply-input-button {
  width: 100px;
  margin-left: 20px;
  height: 20px;
  border: 2px solid #999;
  background-color: #efefef;
  cursor: pointer;
}
